*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background-color: #f4ece7;
}

body {
    background-color: #f4ece7;
    height: 100%;
    width: 100%;
}

#consultation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#consultation-form label {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

#consultation-form input {
    width: 50vw;
    padding: 10px;
}

#submit {
    margin-top: 1rem;
}