*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}

#main-section {
    width: 100%;
    height: 50%;
}

#Projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: 'Permanent Marker';
    color: white;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', monospace;
    min-width: 300px;
    width: 40vw;
    height: 40vh;
    margin: 4rem;
    padding: 15px;
    border-radius: 15px;
    background-color: orange;
    color: black;
}

.project-box:nth-of-type(odd) {
    background-color: #333;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    word-wrap: break-word;
}

nav a {
    margin: 2rem;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: orange;
    box-shadow: 0 0 20px 20px rgb(255, 165, 0);
    transition: background-color 0.5s ease;
}

nav a:active {
    color: black;
    background-color: orange;
    box-shadow: 0 0 40px 40px rgb(255, 165, 0);
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../Fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Fasthand';
    src: url('../Fonts/Fasthand-Regular.ttf');
}

@keyframes slideIn {
    to {
        transform: skewY(20deg) translate3d(0, 0, 0);
    }
}

@keyframes slideInContent {
    to {
        transform: skewY(-20deg) rotateZ(20deg) translate3d(0, 0, 0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: orange;
    overflow: hidden;
    animation: slideInFromLeft 2s forwards;
    transform: translateX(-100%);
}

.logo-container {
    position: absolute;
    padding-top: 2rem;
    padding-right: 2rem;
    width: 25%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0;
    right: 0;
    max-width: 60%;
    height: auto;
}

.mobile-logo {
    top: 0;
    height: auto;
    width: 15%;
    margin-top: 2rem;
}

/* This section is for the loading overlay screen */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    color: black;
    transition: opacity 0.5s ease-in-out;
}

.blinking {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/**
 * Basic CSS Media Query Template
 * -------------------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * -------------------------------------------------------
 */

/* Desktop Wide */
@media only screen and (min-width: 1280px) {
    .diagonal-column1.initial-animation {
        animation: none;
    }

    .diagonal-column2.initial-animation {
        animation: none;
    }

    .diag-content.initial-animation {
        animation: none;
    }

    .quote.initial-animation {
        animation: none;
    }

    body {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #Projects {
        margin-top: 20rem;
    }

    .quote {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: auto;
        z-index: 9;
        font-family: 'Permanent Marker';
        font-size: 1.25rem;
        text-align: center;
        color: white;
        border-radius: 40px;
        transform: translateX(-100%);
        animation: slideInFromLeft 2s forwards;
    }

    .mobileHide {
        display: none;
    }

    .hello {
        font-family: 'Permanent Marker', Arial, sans-serif;
        font-size: 6rem;
    }

    .diagonal-column1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        margin-top: 15rem;
        transform: skewY(20deg) translate3d(-100%, -100%, 0);
        animation: slideIn 2s forwards;
        background-color: orange;
        overflow: hidden;
    }

    .diagonal-column2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        transform: skewY(20deg) translate3d(-100%, -100%, 0);
        animation: slideIn 2s forwards;
        background-color: #333;
        overflow: hidden;
    }

    .diag-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: skewY(-20deg) rotateZ(20deg) translate3d(100%, 100%, 0);
        animation: slideInContent 2s forwards;
    }

    .diag-content a {
        color: white;
        margin-inline: 2rem;
        padding-inline: 7px;
        font-family: 'fasthand';
        font-size: 2rem;
        box-shadow: 0 0 5px 5px rgb(255, 165, 0);
        border-radius: 15px;
        transform: rotateZ(-20deg);
    }

    .diag-content a:hover {
        color: black;
        background-color: orange;
        box-shadow: 0 0 20px 20px rgb(255, 165, 0);
        transition: background-color 0.5s ease;
    }
    
    .diag-content a:active {
        color: black;
        background-color: orange;
        box-shadow: 0 0 40px 40px rgb(255, 165, 0);
    }

    .hamburger-menu {
        display: none;
    }

    /* New styles for when scrolling down */
    .unskew {
        transform: none !important;
        animation: none !important;
        transition: transform 2s ease;
        margin-top: 0;
    }

    .diag-content.unskew {
        transform: none !important;
    }

    .diag-content a.unskew {
        transform: none;
        animation: none !important;
    }


}

/* Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .diagonal-column1.initial-animation {
        animation: none;
    }

    .diagonal-column2.initial-animation {
        animation: none;
    }

    .diag-content.initial-animation {
        animation: none;
    }

    .quote.initial-animation {
        animation: none;
    }

    body {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #Projects {
        margin-top: 20rem;
    }

    .quote {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: auto;
        z-index: 9;
        font-family: 'Permanent Marker';
        font-size: 1.25rem;
        text-align: center;
        color: white;
        border-radius: 40px;
        transform: translateX(-100%);
        animation: slideInFromLeft 2s forwards;
    }

    .mobileHide {
        display: none;
    }

    .hello {
        font-family: 'Permanent Marker', Arial, sans-serif;
        font-size: 5rem;
    }

    .diagonal-column1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        margin-top: 15rem;
        transform: skewY(20deg) translate3d(-100%, -100%, 0);
        animation: slideIn 2s forwards;
        background-color: orange;
        overflow: hidden;
    }

    .diagonal-column2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        transform: skewY(20deg) translate3d(-100%, -100%, 0);
        animation: slideIn 2s forwards;
        background-color: #333;
        overflow: hidden;
    }

    .diag-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: skewY(-20deg) rotateZ(20deg) translate3d(100%, 100%, 0);
        animation: slideInContent 2s forwards;
    }

    .diag-content a {
        color: white;
        margin-inline: 2rem;
        padding-inline: 7px;
        font-family: 'fasthand';
        font-size: 2rem;
        box-shadow: 0 0 5px 5px rgb(255, 165, 0);
        border-radius: 15px;
        transform: rotateZ(-20deg);
    }

    .diag-content a:hover {
        color: black;
        background-color: orange;
        box-shadow: 0 0 20px 20px rgb(255, 165, 0);
        transition: background-color 0.5s ease;
    }
    
    .diag-content a:active {
        color: black;
        background-color: orange;
        box-shadow: 0 0 40px 40px rgb(255, 165, 0);
    }

    .hamburger-menu {
        display: none;
    }
}

/* Tablet Landscape */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .center.initial-animation {
        animation: none;
    }

    .quote.initial-animation {
        animation: none;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    aside {
        height: 100%;
    }

    .desktopHide {
        display: none;
    }

    .hello {
        font-family: 'Permanent Marker', Arial, sans-serif;
        font-size: 2rem;
    }

    .quote {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        background-color: #333;
        font-family: 'Permanent Marker';
        font-size: 1.25rem;
        text-align: center;
        color: white;
        transform: translateX(-100%);
        animation: slideInFromRight 2s forwards;
    }

    .quote p {
        margin: 4rem;
        padding: 0;
    }

    .diag-content a {
        color: white;
        margin-inline: 2rem;
        padding-inline: 7px;
        font-family: 'fasthand';
        font-size: 2rem;
        box-shadow: 0 0 5px 5px rgb(255, 165, 0);
        border-radius: 15px;
    }

    /* Hamburger Menu Code for mobile devices */

    :root {
        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: #333;
        --background: orange;
        --hamburger-margin: 8px;
        --animation-timing: 400ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: fixed;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 999;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: orange;
        --background: #333;
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform var(--animation-timing);
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        min-width: 100vw;
        min-height: 100vh;
        z-index: 998;
    }

    .hamburger-menu:has(input:checked)+.sidebar {
        top: 0;
        transform: translateX(0);
    }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .center.initial-animation {
        animation: none;
    }

    .quote.initial-animation {
        animation: none;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    aside {
        height: 100%;
    }

    .desktopHide {
        display: none;
    }

    .hello {
        font-family: 'Permanent Marker', Arial, sans-serif;
        font-size: 2rem;
    }

    .quote {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        background-color: #333;
        font-family: 'Permanent Marker';
        font-size: 1.25rem;
        text-align: center;
        color: white;
        transform: translateX(-100%);
        animation: slideInFromRight 2s forwards;
    }

    .quote p {
        margin: 4rem;
        padding: 0;
    }

    .diag-content a {
        color: white;
        margin-inline: 2rem;
        padding-inline: 7px;
        font-family: 'fasthand';
        font-size: 2rem;
        box-shadow: 0 0 5px 5px rgb(255, 165, 0);
        border-radius: 15px;
    }

    /* Hamburger Menu Code for mobile devices */

    :root {
        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: #333;
        --background: orange;
        --hamburger-margin: 8px;
        --animation-timing: 400ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: fixed;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 999;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: orange;
        --background: #333;
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform var(--animation-timing);
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        min-width: 100vw;
        min-height: 100vh;
        z-index: 998;
    }

    .hamburger-menu:has(input:checked)+.sidebar {
        top: 0;
        transform: translateX(0);
    }
}

/* Phone Landscape and Smaller */
@media only screen and (max-width: 479px) {
    .center.initial-animation {
        animation: none;
    }

    .quote.initial-animation {
        animation: none;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    aside {
        height: 100%;
    }

    .desktopHide {
        display: none;
    }

    .hello {
        font-family: 'Permanent Marker', Arial, sans-serif;
        font-size: 2rem;
    }

    .quote {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        background-color: #333;
        font-family: 'Permanent Marker';
        font-size: 1.25rem;
        text-align: center;
        color: white;
        transform: translateX(-100%);
        animation: slideInFromRight 2s forwards;
    }

    .quote p {
        margin: 4rem;
        padding: 0;
    }

    .diag-content a {
        color: white;
        margin-inline: 2rem;
        padding-inline: 7px;
        font-family: 'fasthand';
        font-size: 2rem;
        box-shadow: 0 0 5px 5px rgb(255, 165, 0);
        border-radius: 15px;
    }

    /* Hamburger Menu Code for mobile devices */

    :root {
        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: #333;
        --background: orange;
        --hamburger-margin: 8px;
        --animation-timing: 400ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: fixed;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 999;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: orange;
        --background: #333;
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform var(--animation-timing);
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        min-width: 100vw;
        min-height: 100vh;
        z-index: 998;
    }

    .hamburger-menu:has(input:checked)+.sidebar {
        top: 0;
        transform: translateX(0);
    }
}

/* Portrait */
/* @media only screen and (orientation:portrait) { */
/* Portrait styles here */
/* } */

/* Landscape */
/* @media only screen and (orientation:landscape) { */
/* Landscape styles here */
/* } */

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
/* @media only screen and (-webkit-max-device-pixel-ratio: 1) {} */

/* Retina */
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), */
/* only screen and (-o-min-device-pixel-ratio: 3/2), */
/* only screen and (min--moz-device-pixel-ratio: 1.5), */
/* only screen and (min-device-pixel-ratio: 1.5) {} */

/* iPhone Portrait */
/* @media only screen and (max-device-width: 480px) and (orientation:portrait) {} */

/* iPhone Landscape */
/* @media only screen and (max-device-width: 480px) and (orientation:landscape) {} */

/* iPad Portrait */
/* @media only screen and (min-device-width: 481px) and (orientation:portrait) {} */

/* iPad Landscape */
/* @media only screen and (min-device-width: 481px) and (orientation:landscape) {} */